* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rock Salt', cursive;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightslategrey;
    width: 100%;
    display: flex;
}

.pads>div {
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1 {
    background: lightsalmon;
}

.pad2 {
    background: lightgrey;
}

.pad3 {
    background: lightseagreen;
}

.pad4 {
    background: lightcyan;
}

.pad5 {
    background: lightblue;
}

.pad6 {
    background: lightyellow;
}